.btn-height {
  height: 60px;
  border-radius: 10px !important;
}

.download-now {
  height: 60px;
}

.arrow-link {
  &.text-info {
    svg {
      fill: $info;
    }
  }
  &.text-danger {
    svg {
      fill: $danger;
    }
  }
  &.text-dark {
    svg {
      fill: $dark;
    }
  }
}

.underline-border {
  border-color: rgba(164, 164, 164, 0.5);
}

.dropdown-menu {
  // background-color: $body-bg ;
  box-shadow: $box-shadow-sm;
  border: none !important;
  background: rgba(246, 239, 232, 0.5) !important;
  border-radius: 15px !important;
}

.offcanvas .offcanvas-body .dropdown-menu {
  box-shadow: none;
  border: none !important;
  background: transparent  !important;
}
.range-vertical {
  position: relative;

  .line {
    background: $danger;
    width: 6px;
    height: 100vh;
    position: absolute;
    // left: 19px;
  }

  .round {
    width: 44px;
    height: 44px;
    background: $danger;
    border-radius: 100%;
    position: absolute;
    top: 120px;
    left: -6px;
    transition: top 0.3s ease-in-out;
  }
  &.info {
    .line {
      background: $info;
    }
    .round {
      background: $info;
    }
  }
}
