.home-page {
  .home-item {
    // padding: 3rem 0;
    //   background: #f6efe8;
  }

  &.blue-theme .home-item {
    background: #f0faff;
  }

  .home-item:first-child {
    // padding: 0;
  }
  .home-item:nth-child(even) {
    background: #ffffff;
  }
}

footer {
  min-height: 100px;
}

.blue-theme-bg {
  background-color: #f0faff;
}
.sales-blue-theme {
  background: linear-gradient(to bottom, #f0faff 100vh, white 100vh 200vh);
}
.sales-wrapper {
  padding-top: 300px;
  padding-bottom: 3rem;
}

.sales-page {
  margin-top: 0;

  .form-label {
    font-size: 24px;
    line-height: 33px;
    font-weight: 600;
    color: $warning;
  }

  .form-control {
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    height: 72px;
  }
}

@media only screen and (min-width: 992px) {
  .sales-form {
    margin-top: -620px;
  }
}

.py-150 {
  padding-top: 15vh;
  padding-bottom: 15vh;
}
