.home-page {
  &.blue-theme .home-item {
    background: $bg-blue;
  }
  .home-item:nth-child(even) {
    background: $light;
  }
}

footer {
  min-height: 100px;
}

.blue-theme-bg {
  background-color: $bg-blue;
}
.sales-blue-theme {
  background: linear-gradient(to bottom, $bg-blue 100vh, $light 100vh 200vh);
}
.sales-wrapper {
  padding-top: 300px;
  padding-bottom: 3rem;
}

.sales-page {
  margin-top: 0;

  .form-label {
    font-size: 24px;
    line-height: 33px;
    font-weight: 600;
    color: $warning;
  }

  .form-control,.form-select {
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    height: 72px;
    color: $warning;
  }
}

