// $primary: #ff4557;
$secondary: #f6efe8;
// $success:       $green !default;
$info: #2f6eba;
$warning:#A4A4A4;
$danger: #ff4557;
$light: #ffffff;
$dark: #000000;

$body-color : #000000;
$body-bg: #f6efe8;

$input-bg : $light;

$font-family-avenir: "Avenir Next";
$font-family-torus: "Torus Notched";
$font-family-montserrat: "Montserrat";

$font-family-base: $font-family-avenir;

$box-shadow-sm : 0px 1px 24px rgba(0, 0, 0, 0.15);
